/* header*/
header {
    min-height: 50px;
}

header h1 {
    float: left;
}

header label {
    float: right;
    margin-top: 2em;
        margin-right: 2em;
}
/*Slider*/
.switch {
    
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(239, 239, 239);
    border: 1px solid #000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(77, 77, 77);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(190, 190, 190);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

header hr {
    clear: both;
}

/*Footer*/
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}



footer {
    min-height: 1em;
    color: darkslategray
}

content {
    flex: 1;
}

table{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align:center
}


/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*Excersise*/
.line {
    display: inline;
    white-space: nowrap;
}

.line span {
    display: inline-block;
    width: 12%;
}

.line span:first-child {
    width: 6%;
    text-align: left;
}

.line span:last-child {
    width: 6%;
    text-align: right;
}

#outputElement {
    padding: 1em;
    border: solid black;
}

#out {
    overflow: hidden;
    padding: 1em;
}

/*Settings*/
h3 {
    text-align: left;
    margin: 0em;
}

#settings {
    float: left;
    padding: 1em;
}

#settings .button {
    width: 100%;
}

/*Metrono,*/
#metronom {
    float: left;
    padding: 1em;
}

#metronom .button {
    width: 100%;
}

/*Darkmode*/
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode #outputElement {
    border: solid white;
}

button{
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

@media print {
    body * {
        visibility: hidden;
        background-color: white;
        color: black;
    }

    #settings {
        float: none;
        position: fixed;
    }

    .section-to-print,
    .section-to-print * {
        visibility: visible;
    }

    .section-to-print #outputElement {
        width: 95%;
        page-break-inside: avoid;
        border: solid black;
    }

    .section-to-print #out {
        overflow: none;
        padding: 1em;
    }

    #outputElement {
        padding: 0em;
        border: solid black;
    }

    #out {
        overflow: hidden;
        padding: 0em;
    }
}

@media only screen and (max-width: 60em) {
    #settings {
        float: none;
        display: flex;
        padding: 1em;
    }
}